
div.center-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.about-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

div.topsearch {
  margin: 10px 10px 10px 10px;
}

div.results {
  padding-left: 20px;
}

.result-title {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  text-decoration: none;
  font-size: larger;
}

.result-url {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: rgb(0, 128, 128);
  text-decoration: none;
}


.result-text {
  font-size: 100%;
}


a.homeref {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: larger;
  color: rgb(0, 128, 128);
  text-decoration: none;
  margin-right: 10px;
}

p.about {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: rgb(96, 96, 96);
}

a.contact {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: rgb(0, 128, 128);
  text-decoration: none;
}

input[type=text], input[type=submit] {
    display: inline;
    border: 2px solid rgb(0, 128, 128);
    padding: 4px 4px;
    height: 30px;
    border-radius: 0px;
    box-sizing: border-box;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

input.searchtext:focus {
  outline: none;
}

input[type=text] {
  width: 400px;
  font-size: larger;
}

input[type=submit] {
  border: none;
  color: white;
  background-color: rgb(0, 128, 128);
  text-decoration: none;
  cursor: pointer;
  font-size: larger;
}